#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  width: 100%;
}
:root {
  --white-color: #fff;
  --light-color: #d8e3e7;
  --light-blue: #51c4d3;
  --dark-blue: #126e82;
  --dark-color: #132c33;
  --black-color: #000;
}

/* ////////////////////////////////// */
/* Header-section */
/* ////////////////////////////////// */
.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-nav {
  width: 30%;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  text-decoration: none;
  color: var(--light-color);
  border-bottom: solid 1px transparent;
  padding: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.nav-link:hover {
  border-bottom: solid 1px var(--light-color);
}
